*{

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.form{
    height: 490px;
    width: 300px;
    background-color:#ffffff;
       margin: auto;
       border-radius: 10px;
}
.form-row{
    position: absolute;
    top: 16%;
    width: 100%;
}
.login-logo{
    width: 100%;
    /* margin-left: 25%; */
    margin-top: 8%;
}
.login-logo img{
    margin-left: 25%;
}
.name,.email,.password,h3{
    margin-bottom: 2%;
    padding: 0px 10px 0px 10px;
}
.login-btn{
width: 96%;
margin-left: 2%;
margin-top: 3%;
}
.form h3{
    font-size: 23px;
    padding-top: 20px;
}
.form h3 a{
    text-decoration: dashed;
    font-size: 20px;
   color: rgb(63, 99, 230);
}
.form-signin{
    height: 480px;
    width: 350px;
    background-color: #ffffff;
    margin: auto;
    padding: 30px 15px 30px 15px;
    border-radius: 10px;
}
.btn-signin{
    width:95.5%;
    margin-left: 2%;
    color: white;
    margin-top: 2%;
}
.phone-sign{
    padding: 0px 10px 10px 10px;
    width: 100%;
}
.form-part{
    position: absolute;
    top: 15%;
}
.form-signin h4{
    padding-left: 12px;
}
